body{
    padding: 0;
    display: block;
}


.header{
    height: 70px;
    text-align: center;
}

.leftColumn{
    width: 200px;
    float: left;
}


.centerColumn{
    width: 600px;
    float: left;
    padding-left: 90px;
}

.footer{
    clear: both;
}

.menuCaption{
    padding: 3px;
    font-weight: bold;
}


